:root {
    --cinzinha: #626262;
    --branco: #FFFFFF;
    --cor-5: #2FAC66;
    --fundo-1: #262625;
    --ativo: #12A19A;
}

.body {
    background-color: var(--fundo-1);
}

.navbar {
    flex-wrap: nowrap;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
}

.navbar-brand img {
    width: 223.636px;
    height: 60px;
    margin: 25px 0px 15px 2.97%;
}

.nav-link {
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-nav .nav-link.active {
    color: var(--ativo);
    font-weight: 700;
}

#buscar {
    width: auto;
    background-color: transparent;
    border: none;
    border-bottom: solid var(--cinzinha);
    color: var(--cinzinha);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: inherit;
}

#loginBtn {
    width: 179px;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 8px 39px;
    border-radius: 15px;
    border: none;
    color: var(--branco);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.50);
    background: rgb(47, 172, 102);
    background: linear-gradient(133deg,
            rgba(47, 172, 102, 1) 0%,
            rgba(41, 35, 92, 1) 50%,
            rgba(41, 35, 92, 1) 61%,
            rgba(47, 172, 102, 1) 100%);
    color: var(--branco);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50);
}

.colRodape {
    color: var(--branco)
}

.py-4 {
    padding-bottom: 0px;
}

.mapinha {
    margin-top: 20px;
    border-radius: 15px;
}

.botaoGeral {
    width: 197px;
    height: 60px;
    border-radius: 13px;
    border: 1px solid var(--cor-5);
    background: #12A19A;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
    color: var(--branco);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.carousel-indicators {
    margin-bottom: 2.8rem;
}

.carousel-indicators .active {
    opacity: 1;
    background: #129E97 !important;
}

.carousel-indicators [data-bs-target] {
    background: none;
    border: 1px solid var(--cor-5);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 14px;
}

.anteriorSlide,
.proximoSlide {
    z-index: 3;
}

.sombra:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(38, 38, 37, 0.00) 0%, #262625 100%);
    z-index: 1;
}

.imgSlide {
    position: relative;
}

.divTexto {
    height: 80%;
    padding-top: 5%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.texto {
    margin-right: 12%;
    margin-left: 40%;
    position: relative;
    color: var(--branco);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.saibaMais {
    margin-right: 12%;
}

.metasTexto {
    color: var(--branco);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.metasTexto i {
    color: var(--cor-5)
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2.2% 0px
}

.homeBlog {
    background-image: linear-gradient(180deg, rgba(38, 38, 37, 0.00) 0%, #262625 100%), url(../img/homeFundoBlog.png);
    background-size: cover;
}

.itemBlog .card {
    margin: 0 2.5em;
    border: none;
    background: none;
}

.itemBlog .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--branco);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
}

.itemBlog .card .card-body a {
    color: var(--branco);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.anteriorBlog,
.proximoBlog {
    color: var(--branco);
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 8%;
}

@media (max-width:1199px) {
    .sidebar {
        background-color: #2626253c;
    }
}

@media (min-width: 768px) {

    .carouselBlog {
        display: flex;
        box-sizing: border-box;
        padding: 1em 110px 1em 166px;
    }

    .itemBlog {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: flex !important;
    }

    .itemBlog .card {
        display: flex;
        align-items: center;
    }

    .itemBlog .card .img-wrapper {
        /* max-width: 100%; */
        /* height: 13em; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgBlog {
        width: 100%;
    }
}

.blog {
    margin-bottom: 3%;
}

.maisLidaTop {
    margin-top: 20%;
}

.maisLidas {
    border-radius: 15px;
    border-radius: 15px;
    background: url(/img/fundoBlog.png);
    background-size: cover;
    padding: 12% 10%;
    margin-right: 20%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
    ;
}

.maisLidas h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10%;
}

.maisLidas li {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 65px;
}

.maisLidas li::marker {
    color: var(--cor-5);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog img {
    margin-right: 16px;
}

.textoBlog h2 {
    color: #12A19A;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.textoBlog p {
    color: var(--branco);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}